{
    "extends": "react-app",
    "plugins": ["react"],
    "ecmaFeatures": {
        "blockBindings": false
    },
    "rules": {
        "react/jsx-tag-spacing": 5,
        "valid-jsdoc": 5,
        "react/jsx-uses-react": 5,
        "react/jsx-uses-vars": 5,
        "react/react-in-jsx-scope": 5,
        "no-console": 1,
        "blockBindings": true
    }
}
