.ant-form {
    display: flex;
    flex-wrap: wrap;
}
.ant-form-item {
    margin-bottom: 16px;
}
.ant-form-item-label {
    width: 100px !important;
}
.ant-input {
    border-radius: 2px;
}
.whole {
    flex-basis: 100%;
}
.average-3 {
    flex-basis: 33.3%;
}
.average-2 {
    flex-basis: 50%;
}
