.imgList_root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgList_item {
    position: relative;
    margin: 10px;
    width: 150px;
    height: 150px;
}
.imgList_item_info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: none;
}
.imgList_item_info div {
    text-align: left;
    padding-left: 10%;
}
.imgList_item :hover {
    cursor: pointer;
}

.imgList_item :hover + .imgList_item_info {
    display: block;
}
.updata {
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid #eee;
}
.updatedo {
    width: 100%;
}
.updata :hover {
    color: blueviolet;
}
